@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "ResetPassword";
}

<h2>Reset Your Password</h2>

@using (Html.BeginForm("ResetPassword", "Auth", FormMethod.Post))
{
     @Html.LabelFor(m => m.Email)
     @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Your account email" })

     @Html.LabelFor(m => m.NewPassword)
     @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New password" })

     <input type="submit" value="Reset Password" class="btn btn-warning mt-2" />
}

